# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv","\t")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

### Step 4. How many products cost more than $10.00?

In [4]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
np.count_nonzero(chipo.item_price>10)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
product_price=chipo[['item_name',"item_price"]]
product_price

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
product_price.sort_values('item_name',ascending=True).reset_index()

      index          item_name  item_price
0      3389  6 Pack Soft Drink       12.98
1       341  6 Pack Soft Drink        6.49
2      1849  6 Pack Soft Drink        6.49
3      1860  6 Pack Soft Drink        6.49
4      2713  6 Pack Soft Drink        6.49
...     ...                ...         ...
4617   2384  Veggie Soft Tacos        8.75
4618    781  Veggie Soft Tacos        8.75
4619   2851  Veggie Soft Tacos        8.49
4620   1699  Veggie Soft Tacos       11.25
4621   1395  Veggie Soft Tacos        8.49

[4622 rows x 3 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo[['quantity','item_price']].max()
#chipo['item_price'] .max()

quantity      15.00
item_price    44.25
dtype: float64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [59]:
chipo.item_name = "Veggie Salad Bowl" 
chipo[['quantity','item_name']].value_counts()

quantity  item_name
1         Veggie Salad Bowl    4355
2         Veggie Salad Bowl     224
3         Veggie Salad Bowl      28
4         Veggie Salad Bowl      10
5         Veggie Salad Bowl       1
7         Veggie Salad Bowl       1
8         Veggie Salad Bowl       1
10        Veggie Salad Bowl       1
15        Veggie Salad Bowl       1
dtype: int64

In [44]:
#chipo[chipo.item_name == "Veggie Salad Bowl"].quantity.value_counts()

Series([], Name: quantity, dtype: int64)

### Step 9. How many times did someone order more than one Canned Soda?

In [65]:
chipo.item_name = "Canned Soda" 
chipo[['quantity','item_name']]

      quantity    item_name
0            1  Canned Soda
1            1  Canned Soda
2            1  Canned Soda
3            1  Canned Soda
4            2  Canned Soda
...        ...          ...
4617         1  Canned Soda
4618         1  Canned Soda
4619         1  Canned Soda
4620         1  Canned Soda
4621         1  Canned Soda

[4622 rows x 2 columns]